{% if site.gitalk %}
<!-- gitalk -->
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
    const gitalk = new Gitalk({
        clientID: 'c656259abe587f9b494f',
        clientSecret: '8d7017bad1009e4c80c6e1c696a3bdb2a7133ab7',
        repo: 'Arvinzwt.github.io',
        owner: 'Arvinzwt',
        admin: ['arvin'],
        id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })
    gitalk.render('gitalk-container')
</script>
<!-- End gitalk -->
{% endif %}