<div class="wmm-header_wrap">
    <a href="/" class="wmm-header_left">{{site.name}}</a>
    <div class="wmm-header_right">
        {% for item in site.data.nav %}
        <a class="wmm-header_item" href="{{ item.link }}">
            {{ item.name }}
        </a>
        {% endfor %}
    </div>
</div>
<div class="wmm-nav">
    <img class="wmm-nav_bg" src="{{ site.baseurl }}/assets/images/{% if page.bg %}{{page.bg}}{% else %}default-bg.jpg{% endif %}" alt=""/>

    {% if page.layout == 'author' %}
    <div class="wmm-nav_wrap">
        <h3 class="wmm-nav_title">{{ page.short_name }}</h3>
        <p class="wmm-nav_tag">{{ page.name }} - {{page.position}}</p>
    </div>
    {% endif %}

    {% if page.layout == 'default' %}
    <div class="wmm-nav_wrap">
        <h3 class="wmm-nav_title">{{ site.name }}</h3>
        <p class="wmm-nav_date">{{site.description}}</p>
    </div>
    {% endif %}

    {% if page.layout == 'post' %}
    <div class="wmm-nav_wrap">
        <h3 class="wmm-nav_title">{{ page.title }}</h3>
        <p class="wmm-nav_date">
            <span>发表于： {{ page.date | date:"%Y-%m-%d %H:%M:%S" }}</span>
            {% assign author = site.authors | where: 'short_name', page.author | first %}
            {% if author %}
            <a href="{{ author.url }}"> with {{ author.short_name }}</a>
            {% endif %}
        </p>
        <p class="wmm-nav_tag">分类于：{{ page.category }}</p>

        <p class="wmm-nav_tag" id="busuanzi_container_page_pv">
            阅读次数：<span id="busuanzi_value_page_pv"></span>次
        </p>
    </div>
    {% endif %}
</div>