/**
 * @description: 全局结构css配置
 */
/*常用变量*/
@import "./reset.scss";
@import "./basis.scss";

body, html {
    margin: 0;
    padding: 0;
    color: #666666;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.6;
    font-family: Arial, sans-serif, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑";
    background: #fafafa;
}

// 滚动条样式
@include scroll-style;

.wmm {
    min-height: 100vh;

    .wmm-header {
        border-bottom: 1px solid #eeeeee;
    }

    .wmm-body {
        margin: 0;
        padding: 0;
    }

    .wmm-footer {
        border-top: 1px solid #eeeeee;
    }
}

.el-tag{
    color: #ffffff;
    border-color: transparent;
}