---
---

@import "match-colors";
@import "reset";

// Mobile breakpoints
$maxWidth: 1040px;
$mobileWidth: 640px;

@mixin mobile {
    @media screen and (max-width: $mobileWidth) {
        @content;
    }
}

@mixin wrap {
    width: $maxWidth;
    margin: 0 auto;
}

* {
    @include reset-scrollbar;
}

.wmm-body {
    line-height: 1.8;
    font-family: $navFont;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    color: $darkerGray;
    font-size: $littleTitleFontSize;
    @include border-box;
    @include flex;
    @include flex-v;

    .wmm-header {
        background-color: white;
        font-size: $textFontSize;
        //transition: 0.5s ease-in-out;
        //box-shadow: $basicShadow;

        .wmm-header_wrap {
            @include wrap;
            @include flex;
            @include flex-align-center;
            @include flex-pack-justify;
            height: 70px;

            .wmm-header_left {
                padding: 0 15px;
                font-weight: bold;
                color: #333333;
            }

            .wmm-header_right {

            }

            .wmm-header_item {
                padding: 0 15px;
                color: $darkerGray;
            }
        }

        .wmm-nav {
            display: block;
            height: 300px;
            background-color: rgba(0, 0, 0, .5);
            position: relative;
            overflow: hidden;
            min-width: $maxWidth;
            box-shadow: 0 1px 5px rgba(0, 0, 0, .3);

            .wmm-nav_bg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
            }

            .wmm-nav_wrap {
                position: absolute;
                color: $white;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                padding-left: 200px;
                @include wrap;

                .wmm-nav_title {
                    font-size: $mainTitleFontSize;
                    margin-bottom: 18px;
                }

                .wmm-nav_date {
                    font-size: $auxiliaryFontSize;
                    margin-bottom: 18px;

                    a {
                        color: $white;
                    }
                }

                .wmm-nav_tag {
                    font-size: $auxiliaryFontSize;
                }
            }
        }
    }

    .wmm-main {

    }

    .wmm-footer {
        @include wrap;
        text-align: center;
        font-size: $auxiliaryFontSize;
        padding: 30px 0;

        a {
            color: $darkerGray;
        }
    }
}

.wmm-main-about {
    @include wrap;
    padding: 20px 15px;
    font-size: $littleTitleFontSize;

    ul {
        margin-left: 40px;

        li {
            list-style: disc;
        }
    }

    h2 {
        font-size: $mainTitleFontSize;
        margin: 10px 0;
    }
}

.wmm-main-author {
    @include wrap;
    @include flex;
    @include flex-pack-justify;

    .wmm-main-author_depict {
        padding: 20px 15px;
    }

    .wmm-main-author_post {
        padding: 10px 0;

        .wmm-main-author_title {
            font-size: $titleFontSize;
            padding: 10px 15px;
        }

        .wmm-main-author_post_item {
            padding: 10px 15px;
        }

        .wmm-main-author_post_link {
            color: $darkerGray;
        }

        .wmm-main-author_post_title {
            max-width: 300px;
            @include ellipsis;

            &:hover {
                color: $blue;
            }
        }

        .wmm-main-author_post_date {
            color: $gray;
            display: block;
            white-space: nowrap;
            padding-left: 25px;
            font-size: $textFontSize;
        }
    }
}

.wmm-main-blog {
    @include wrap;

    ul {
        margin-left: 40px;

        li {
            list-style: disc;

            span {
                font-size: $auxiliaryFontSize;
            }
        }
    }

    h2 {
        font-size: $mainTitleFontSize;
        margin: 10px 0;
    }
}

.wmm-main-home {
    width: 50%;
    margin: 0 auto;

    .wmm-main-home_item {
        display: block;
        color: $darkerGray;
        box-shadow: $lightShadow;
        border-radius: 10px;
        margin-top: 40px;
        transition: 0.3s;
        padding: 32px;
        background: white;

        &:hover {
            box-shadow: $basicShadow;
        }
    }

    .wmm-main-home_title {
        font-size: $mainTitleFontSize;
        margin-bottom: 18px;
    }

    .wmm-main-home_excerpt {
        line-height: 1.5;
        font-size: $textFontSize;
        margin-bottom: 20px;

        p {
            font-size: $textFontSize;
        }
    }

    .wmm-main-home_footer {
        font-size: $auxiliaryFontSize;
        color: $gray;
        @include flex;
        @include flex-align-center;
        @include flex-pack-end;
        @include flex-wrap;

        .wmm-main-home_footer_item {
            margin-right: 5px;
            white-space: nowrap;
        }
    }
}

.wmm-main-staff {
    @include wrap;
    padding: 20px;

    .wmm-main-staff_title {
        font-size: $mainTitleFontSize;
        padding: 20px;
    }

    .wmm-main-staff_depict {
        font-size: $textFontSize;
        padding: 35px;
        padding-top: 0;
    }

    a {
        color: $darkerGray;
    }
}

.wmm-main-404 {

}

.wmm-main-post {
    @include wrap;
    padding: 30px 20px;
}

.wmm-pagination {
    padding: 30px 0;
    @include flex;
    @include flex-align-center;
    @include flex-pack-end;

    .wmm-pagination_item {
        margin-right: 10px;
    }
}