@import "./reset.scss";

a {
    text-decoration: none;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-4 {
    margin-left: 20px;
}

.wmm {
    .wmm-header {
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

        .left {
            display: flex;
            align-items: center;
        }

        .right {
            font-size: 14px;
        }
    }

    .wmm-content {
        .wrap {
            border: 1px solid blue;
            max-width: 800px;
            margin: 0 auto;
        }
    }

    .wmm-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding: 30px 0;
    }
}

.wmm-archives {
    border: 1px solid blue;
    display: flex;

    .left {
        flex: 2;
    }

    .right {
        flex: 3;
    }
}