---
layout: default
---
<main class="wmm-main-author">
    <div class="wmm-main-author_depict">{{ content }}</div>
    <div class="wmm-main-author_post">
        <h2 class="wmm-main-author_title">关于他：</h2>
        <ul>
            {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
            {% for post in filtered_posts %}
            <li class="wmm-main-author_post_item">
                <a class="wmm-main-author_post_link" href="{{ post.url }}">
                    <h3 class="wmm-main-author_post_title">
                        <span class="iconfont iconshuxian"></span>
                        <span> {{ post.title }}</span>
                    </h3>
                    <p class="wmm-main-author_post_date">{{ post.date | date:"%Y-%m-%d %H:%M:%S" }} - {{ post.category}}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>