<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} {% elsif site.name %} {{ site.name }} {% endif %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</head>
<body class="wmm-body">
<header class="wmm-header">
    {% include header.html %}
</header>
<main class="wmm-main">
    {{content}}
</main>
<footer class="wmm-footer">
    <p>
        <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery">Copyright ©2020 arvin · 豫ICP备19018626号</a>
    </p>
    <p id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</p>
</footer>
{% include analytics.html %}

</body>
</html>