<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} {% elsif site.name %} {{ site.name }} {% endif %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</head>
<body class="wmm-body">
<header class="wmm-header">
    {% include header.html %}
</header>

<main class="wmm-main">
    {{content}}
</main>

<footer class="wmm-footer">
    <p>
        <span>Copyright ©2020 arvin</span>
        <a id="busuanzi_container_site_pv" style="cursor: default;">
            <span> · </span>
            <span class="iconfont iconyanjing"></span>
            <span class="iconfont" id="busuanzi_value_site_pv"></span>
        </a>
        <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery">
            <span> · </span>
            <span>豫ICP备19018626号</span>
        </a>
    </p>
</footer>
</body>
</html>